{% extends 'base.html' %}
{% block title %}
    Halaman Utama
{% endblock %}
{% block inlinejstop %}
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/holder/2.9.0/holder.js"></script>
  <script src="../demo/demo.js"></script>
{% endblock %}
{% block inlinecss %}
  <link href="css/widgets.min.css" rel="stylesheet" type="text/css">
{% endblock %}
<!-- Content -->
{% block content %}
<div class="page-header">
  <h1>Dashboard</h1>
</div>

<div class="page-wide-block">
  <div class="box m-a-0 border-radius-0" id="metrics">
    <div class="box-row valign-top">
      <div class="box-cell col-md-12 p-x-4 p-t-3 p-b-4">
        <div class="m-b-1 text-muted font-weight-semibold font-size-11">Agama</div>
        <div id="agama-chart" style="min-height: 120px"></div>
      </div>
      <div class="box-cell col-md-12 p-x-4 p-t-3 p-b-4">
        <div class="m-b-1 text-muted font-weight-semibold font-size-11">Golongan Darah</div>
        <div id="goldar-chart" style="min-height: 120px"></div>
      </div>
      <div class="box-cell col-md-12 p-x-4 p-t-3 p-b-4">
        <div class="m-b-1 text-muted font-weight-semibold font-size-11">Pernikahan</div>
        <div id="marriageChart" style="min-height: 120px"></div>
      </div>
    </div>
    <div class="box-row valign-top">
      <div class="box-cell col-md-12 p-x-4 p-t-3 p-b-4">
        <div class="m-b-1 text-muted font-weight-semibold font-size-11">Jenis Kelamin</div>
        <div id="genderChart" style="min-height: 120px"></div>
      </div>
      <div class="box-cell col-md-12 p-x-4 p-t-3 p-b-4">
        <div class="m-b-1 text-muted font-weight-semibold font-size-11">Pekerjaan</div>
        <div id="jobChart" style="min-height: 120px"></div>
      </div>
      <div class="box-cell col-md-12 p-x-4 p-t-3 p-b-4">
        <div class="m-b-1 text-muted font-weight-semibold font-size-11">Jenjang Studi</div>
        <div id="studyChart" style="min-height: 120px"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block inlinejs %}
<script type="text/javascript">
$(function(){

  var chartColors = pxDemo.getRandomColors(12);

  var penduduk = db.collection('penduduk');

  var marriageArray = [];
  var genderArray = [];
  var jobArray = [];
  var studyArray = [];

  generateData('marriage',marriageArray,'#marriageChart',chartColors);
  generateData('gender',genderArray, '#genderChart',chartColors);
  generateData('job',jobArray, '#jobChart',chartColors);
  generateData('study',studyArray, '#studyChart',chartColors);

});

function generateData(property,dataArray,objectId,chartColors){
  penduduk.get().then((querySnapshot)=>{
    querySnapshot.forEach((doc)=>{
      if(doc && doc.exists){
        var data;
        switch(property){
          case 'marriage':
            data = doc.data().status_perkawinan;
            break;
          case 'gender':
            data = doc.data().jenis_kelamin;
            break;
          case 'job':
            data = doc.data().pekerjaan;
            break;
          case 'study':
            data = doc.data().pendidikan;
            break;
        }
        var exist = dataExists(data,dataArray);
        if(!exist){
          addData(data, dataArray)
        }

        // var members = doc.collection('anggota').
      }
    });

    var chartData = {
      columns : dataArray,
      type : 'pie'
    };

    c3.generate({
      size:{
        height: 300
      },
      bindto : objectId,
      color: { pattern: chartColors },
      data: chartData,
      legend: { position: 'bottom' }
    });

  });
}

function dataExists(str, dataArray){
  var exist = false;
  dataArray.forEach((data)=>{
      if(str.toLowerCase()==data[0].toLowerCase()){
          data[1]=data[1]+1;
          exist = true;
          return exist;
      }
  });
  return exist;
}

function addData( str, dataArray){
  dataArray.push([str,1]);
}
</script>
{% endblock %}