{% extends 'base.html' %}
{% block title %}
  Kota {{kota}}
{% endblock %}
<!-- Content -->
{% block content %}
    <div class="page-header">
        <h3>
            <span class="text-muted font-weight-light">Penduduk / </span>
            Provinsi :
            <select>
                <option>Aceh</option>
                <option selected>Jakarta</option>
            </select> / Kota :
            <select>
                <option>Jakarta Utara</option>
                <option>Jakarta Selatan</option>
            </select>
        </h3>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">Basic</div>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <caption>Optional table caption.</caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nama</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody id="dataContainer">
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block inlinejs  %}
    <script type="text/javascript">
        var penduduk = db.collection('penduduk');
        var province = '{{provinsi}}';
        var city ='{{kota}}';
        var dataContainer = $('#dataContainer');
        var counter = 1;
        var dataArray = [];
        var selectArray = [];
        penduduk.where('provinsi','==',province).where('kota','==',city).get().then((querySnapshot)=>{
             querySnapshot.forEach((doc)=>{
                 if(doc && doc.exists){
                    data = doc.data();
                    var exist = exists(data.kecamatan,dataArray);
                    console.log(exist);
                    if(!exist){
                        addData(data.kecamatan, dataArray);
                    }         
                 }
             });

             dataArray.forEach((data)=>{
                console.log(data.name);
                dataContainer.append(
                    '<tr>'+
                        '<th  scope="row">'+counter+'</th>'+
                        '<td><a href="/kecamatan/'+province+'/'+city+'/'+data.name+'">'+data.name+'</a></td>'+
                        '<td>'+data.count+'</td>'+
                    '</tr>'
                );
                counter++;
            });
        });


        function exists(str, dataArray){
            var exist = false;
            dataArray.forEach((data)=>{
                if(str==data.name){
                    data.count=data.count+1;
                    exist = true;
                    return exist;
                }
            });
            return exist;
        }

        function addData( str, dataArray){
            dataArray.push({name:str,count:1});
        }

        console.log('hahaha');
        console.log(dataArray);
    </script>
{% endblock %}