{% extends 'base.html' %}
{% block title %}
     Detail Penduduk
{% endblock %}

{% block inlinecss %}
<style>
    .page-profile-v1-avatar {
        max-width: 160px;
        border: 4px solid #fff;
    }
</style>
{% endblock %}
<!-- Content -->
{% block content %}
<div class="row m-t-1">
    <div class="col-md-4 col-lg-3">
        <div class="text-xs-center">
            <img src="/demo/avatars/account.png" alt="" class="page-profile-v1-avatar border-round" id="profilePicture">
        </div>
        <div class="panel panel-transparent">
            <div class="panel-heading p-x-1">
                <p class="text-center" id="profileSummary">
                    <span style="background: #eeeeee;color:transparent;border-radius: 3px">Nama Penduduk Profilnya</span>
                </p>
            </div>
        </div>
        <div class="m-y-3 text-xs-center">
            <a href="#" class="btn btn-success">
                <i class="fa fa-check"></i>&nbsp;&nbsp;Kepala Keluarga</a>
            <!-- <a href="#" class="btn">
                <i class="fa fa-envelope"></i>
            </a> -->
        </div>
        
    </div>

    <hr class="page-wide-block visible-xs visible-sm">

    <div class="col-md-8 col-lg-9">
        <h1 class="font-size-20 m-y-4">
            <span id="profileName">
                Detail Penduduk
            </span> 
        </h1>

        <ul class="nav nav-tabs" id="profile-tabs">
            <li class="active">
                <a href="#profileInfo" data-toggle="tab" id="profileInfoBtn">
                    Data Pribadi
                </a>
            </li>
            <li>
                <a href="#familyInfo" data-toggle="tab" id="familyInfoBtn">
                    Data Keluarga
                </a>
            </li>
            <li>
                <a href="#assetInfo" data-toggle="tab" id="assetInfoBtn">
                    Data Aset
                </a>
            </li>
            <li>
                <a href="#documentInfo" data-toggle="tab" id="documentInfoBtn">
                    Data Dokumen
                </a>
            </li>
        </ul>

        <div class="tab-content tab-content-bordered p-a-0 bg-white">
            <div class="tab-pane fade in active" id="profileInfo">
                <h4 class="text-center" style="padding: 30px;">Loading Data..</h4>
            </div>
            <div class="tab-pane fade" id="familyInfo">
                <h4 class="text-center" style="padding: 30px;">Loading Data..</h4>   
            </div>
            <div class="tab-pane fade" id="assetInfo" style="padding: 30px;">
                <h4 class="text-center">
                    Loading Data..
                </h4>  
            </div>
            <div class="tab-pane fade" id="documentInfo" style="padding: 30px;">
                <h4 class="text-center">Loading Data..</h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block inlinejs  %}
    <script type="text/javascript">
        var profileInfo = $('#profileInfo');
        var familyInfo = $('#familyInfo');
        var assetInfo = $('#assetInfo');
        var documentInfo = $('#documentInfo');
        var id = '{{id}}';

        var penduduk = db.collection('penduduk');
        var person = penduduk.doc(id);
        var storageRef = storage.ref();

        var dataContainer = $('#dataContainer');
        var counter = 1;
        var dataArray = [];
        var selectArray = [];
        var result = null;

        console.log(dataArray);

        $(function(){
            $('#profileInfoBtn').click();
        });

        function addData(id,name,count){
            dataContainer.append(
            '<tr>'+
                '<th  scope="row">'+counter+'</th>'+
                '<td><a href="/penduduk-detail/'+id+'">'+name+'</a></td>'+
                '<td>'+count+'</td>'+
            '</tr>'
            );
            counter++;
        }
        
        $('#profileInfoBtn').on('click',function(){
                person.get().then((doc)=>{
                if(doc && doc.exists){
                    var data = doc.data();
                    var name = data.nama_lengkap;
                    // $('#profileName').html(name+'<span class="font-weight-normal">\'s profile</span>');
                    var gender = data.jenis_kelamin;
                    var income = data.kirasan_penghasilan;

                    var jobField = data.bidang_pekerjaan;
                    var bloodType = data.golongan_darah;

                    var job = data.pekerjaan;
                    var education = data.pendidikan;
                    $('#profileSummary').html('<strong><h4 style="margin-top:0;border-top:1px solid #eee;padding-top:20px">'+name+'</h4></strong>'+job+' | '+education)
                    var nationality = data.kewarganegaraan;
                    var marriage = data.status_perkawinan;
                    var birthPlace = data.tempat_lahir;
                    var birthDate = data.tanggal_lahir;
                    var idPicture = data.foto_ktp;
                    var profilePicture = data.foto_orang;
                    var province = data.provinsi;
                    var city = data.kota;
                    var district = data.kecamatan;
                    var subdistrict = data.kelurahan;
                    var rw = data.rw;
                    var rt = data.rt;
                    var religion = data.agama;


                    storageRef.child(profilePicture).getDownloadURL().then((url)=>{
                        var image = $('#profilePicture');
                        image.attr('src',url);
                    }).catch(function(error){

                    });

                    var arrayData = [
                        {title:'Nama Lengkap', content:name},
                        {title:'Jenis Kelamin', content:gender},
                        {title:'Kisaran Penghasilan', content:income},
                        {title:'Bidang Pekerjaan', content:jobField},

                        {title:'Pekerjaan', content:job},
                        {title:'Pendidikan', content:education},
                        {title:'Kewarganegaraan', content:nationality},

                        {title:'Agama', content:religion},
                        {title:'Golongan Darah', content:bloodType},

                        {title:'Status Perkawinan', content:marriage},
                        {title:'Tempat dan Tanggal Lahir', content:birthPlace+', '+birthDate},
                        {title:'Provinsi', content:province},
                        {title:'Kota/Kabupaten', content:city},
                        {title:'Kecamatan', content:district},
                        {title:'Kelurahan', content:subdistrict},
                        {title:'RT/RW', content:rt+'/'+rw},
                    ];

                    console.log(arrayData);

                    var toAppend = '';
                    arrayData.forEach((data)=>{
                        toAppend+='<tr>'+
                                    '<td style="padding:20px">'+
                                      '<div class="box m-a-0 bg-transparent">'+
                                        '<span class="page-messages-item-from box-cell text-default">'+
                                            data.title+
                                        '</span>'+
                                        '<div class="page-messages-item-subject box-cell">'+
                                            '<span class="text-default font-weight-bold">'+
                                                data.content+
                                            '</span>'+
                                        '</div>'+
                                      '</div>'+
                                    '</td>'+
                                  '</tr>';
                    });

                    profileInfo.html('');
                    profileInfo.append(
                        '<table class="page-messages-items table m-a-0">'+
                                '<tbody>'+
                                    toAppend+
                                '</tbody>'+
                        '</table>'
                    );
                }
            });
        });

        var src = '';


        $('#familyInfoBtn').on('click',function(){
            var members = person.collection('anggota');
            // if(members && members.exists){
                members.get().then((query)=>{
                    familyInfo.html(''); 
                    query.forEach((doc)=>{
                        data=doc.data();
                        var anggotaId = doc.id;
                        var type = data.jenis;
                        var name = data.nama_lengkap;
                        var gender = data.jenis_kelamin;
                        var profilePicture = data.foto_orang;

                        if(profilePicture){
                            storageRef.child(profilePicture).getDownloadURL().then((url)=>{
                                familyInfo.append(
                                    '<div class="widget-followers-item">'+
                                        '<img src="'+url+'" alt="" class="widget-followers-avatar">'+
                                        '<div class="widget-followers-controls">'+
                                            '<a href="/anggota-detail/'+id+'/'+anggotaId+'" class="btn btn-sm btn-outline">'+type+'</a>'+
                                        '</div>'+
                                        '<a href="/anggota-detail/'+id+'/'+anggotaId+'" class="widget-followers-name">'+name+'</a>'+
                                        '<a href="/anggota-detail/'+id+'/'+anggotaId+'" class="widget-followers-username">'+gender+'</a>'+
                                    '</div>'
                                );
                            }).catch((error)=>{
                                familyInfo.append(
                                    '<div class="widget-followers-item">'+
                                        '<img src="/demo/avatars/account.png" alt="" class="widget-followers-avatar">'+
                                        '<div class="widget-followers-controls">'+
                                            '<a href="#" class="btn btn-sm btn-outline">'+type+'</a>'+
                                        '</div>'+
                                        '<a href="#" class="widget-followers-name">'+name+'</a>'+
                                        '<a href="#" class="widget-followers-username">'+gender+'</a>'+
                                    '</div>'
                                );
                            });
                        }
                        else{
                            familyInfo.append(
                                    '<div class="widget-followers-item">'+
                                        '<img src="/demo/avatars/account.png" alt="" class="widget-followers-avatar">'+
                                        '<div class="widget-followers-controls">'+
                                            '<a href="#" class="btn btn-sm btn-outline">'+type+'</a>'+
                                        '</div>'+
                                        '<a href="#" class="widget-followers-name">'+name+'</a>'+
                                        '<a href="#" class="widget-followers-username">'+gender+'</a>'+
                                    '</div>'
                                );
                        }

                        
                    });
                });
            // }
            
            
        });

        $('#assetInfoBtn').on('click',function(){
                var asset = person.collection('rumah');

                var assetData = asset.doc('data');
                var assetImage = asset.doc('gambar');

                assetData.get().then((doc)=>{
                    if(doc && doc.exists){
                        var data = doc.data();

                        var arrayData = [
                            {title:'Luas lantai bangunan tempat tinggal dengan satuan', content:data.luas_lantai},
                            {title:'Jenis lantai tempat tinggal yang terluas', content:data.jenis_lantai},
                            {title:'Jenis dinding tempat tinggal yang terluas', content:data.jenis_dinding},
                            {title:'Fasilitas tempat buang air besar', content:data.fasilitas},
                            {title:'Sumber air minum', content:data.sumber_air},
                            {title:'Sumber penerangan utama', content:data.sumber_penerangan},
                            {title:'Berapa kali dalam seminggu rumah tangga membeli daging/ayam/susu', content:data.berapa_kali_seminggu},
                            {title:'Berapa kali dalam sehari biasanya anggota rumah tangga makan', content:data.berapa_kali_sekali},
                            {title:'Berapa stel pakaian baru dalam setahun biasanya dibeli oleh / untuk setiap / sebagian besar anggota rumah tangga', content:''},
                            {title:'Apabila ada anggota keluarga yang sakit, apakah mampu berobat ke puskesmas, atau poliklinik', content:data.anggota_sakit},
                            {title:'Barang yang dimiliki rumah tangga yang masing-masing bernilai paling sedikit Rp. 500.000,-', content:data.list_barang},
                            {title:'Apakah rumah tangga pernah menerima kredit usaha ( seperti UKM/UMKM ) setahun yang lalu', content:data.kredit_usaha},
                            {title:'Status penguasaan bangunan tempat tinggal yang ditempati', content:data.status_bangunan},
                        ];

                        var toAppend = '';
                        arrayData.forEach((data)=>{
                            toAppend+='<div class="row form-group">'+
                                        '<label class="control-label col-md-6">'+data.title+'</label>'+
                                        '<p class="col-md-6">'
                                            +data.content+
                                        '</p>'+
                                    '</div><hr>';
                        });

                        assetInfo.html('');
                        assetInfo.append(toAppend);
                    }
                });
                
                assetImage.get().then((doc)=>{
                    assetInfo.append(
                        '<br>'+
                        '<div class="form-group">'+
                            '<label class="control-label">Foto Kepala Keluarga</label>'+
                            '<br>'+
                            '<br>'+
                            '<img src="/images/no-image.png" id="photoFamilyHead" style="width:70%;display:block"/>'+
                        '</div><hr>'+

                        '<div class="form-group">'+
                            '<label class="control-label">Foto Depan Rumah</label>'+
                            '<br>'+
                            '<br>'+
                            '<img src="/images/no-image.png" id="photoTerrace" style="width:70%;display:block"/>'+
                        '</div><hr>'+

                        '<div class="form-group">'+
                            '<label class="control-label">Foto Ruang Tamu</label>'+
                            '<br>'+
                            '<br>'+
                            '<img src="/images/no-image.png" id="photoLivingroom" style="width:70%;display:block"/>'+
                        '</div><hr>'+

                        '<div class="form-group">'+
                            '<label class="control-label">Foto Dapur</label>'+
                            '<br>'+
                            '<br>'+
                            '<img src="/images/no-image.png" id="photoKitchen" style="width:70%;display:block"/>'+
                        '</div><hr>'+

                        '<div class="form-group">'+
                            '<label class="control-label">Foto Belakang Rumah</label>'+
                            '<br>'+
                            '<br>'+
                            '<img src="/images/no-image.png" id="photoBackyard" style="width:70%;display:block"/>'+
                        '</div>'
                    );

                    if(doc && doc.exists){
                        var data = doc.data();

                        var photoFamilyHead = data.foto_kepala_keluarga;
                        var photoTerrace = data.foto_depan_rumah;
                        var photoLivingroom = data.foto_ruang_tamu;
                        var photoKitchen = data.foto_dapur;
                        var photoBackyard = data.foto_belakang_rumah;

                        storageRef.child(photoFamilyHead).getDownloadURL().then((url)=>{
                            var image = assetInfo.find('#photoFamilyHead');
                            image.attr('src',url);
                        });

                        storageRef.child(photoTerrace).getDownloadURL().then((url)=>{
                            var image = assetInfo.find('#photoTerrace');
                            image.attr('src',url);

                        });

                        storageRef.child(photoLivingroom).getDownloadURL().then((url)=>{
                            var image = assetInfo.find('#photoLivingroom');
                            image.attr('src',url);

                        });

                        storageRef.child(photoKitchen).getDownloadURL().then((url)=>{
                            var image = assetInfo.find('#photoKitchen');
                            image.attr('src',url);

                        });

                        storageRef.child(photoBackyard).getDownloadURL().then((url)=>{
                            var image = assetInfo.find('#photoBackyard');
                            image.attr('src',url);

                        });
                    }
                });


        });

        
        $('#documentInfoBtn').on('click',function(){

                var documents = person.collection('dokumen');

                documents.get().then((querySnapshot)=>{
                    querySnapshot.forEach((doc)=>{
                        var data = doc.data();
                        var arrayData = [
                            {title:'Nomor Kartu Keluarga', content:data.nomor_kk},
                            {title:'Provinsi', content:data.provinsi},
                            {title:'Kota / Kabupaten', content:data.kota},
                            {title:'Kecamatan', content:data.kecamatan},
                            {title:'Kelurahan', content:data.kelurahan},
                            {title:'RT/RW', content:data.rt+'/'+data.rw},
                            {title:'Alamat', content:data.alamat}
                        ];

                        var toAppend = '';
                        arrayData.forEach((data)=>{
                            toAppend+='<div class="row form-group">'+
                                        '<label class="control-label col-md-5">'+data.title+'</label>'+
                                        '<p class="col-md-7">'
                                            +data.content+
                                        '</p>'+
                                    '</div>';
                        });

                        documentInfo.html('');
                        documentInfo.append(toAppend);

                        documentInfo.append(
                            '<br>'+
                            '<div class="form-group">'+
                                '<label class="control-label">Foto Kartu Keluarga</label>'+
                                '<br>'+
                                '<br>'+
                                '<img src="/images/no-image.png" id="kkPhoto" style="width:70%;display:block"/>'+
                            '</div><hr>'
                        );

                        storageRef.child(data.foto_kk).getDownloadURL().then((url)=>{
                            var image = documentInfo.find('#kkPhoto');
                            image.attr('src',url);
                        });
                    });
                });
                
        });

        
    </script>
{% endblock %}
