{% extends 'base.html' %}
{% block title %}
     RT
{% endblock %}
  <!-- Content -->
{% block content %}
    <div class="page-header">
        <p>
            <span class="text-muted font-weight-light">Penduduk / </span>
            Provinsi :
            <select>
                <option>Aceh</option>
                <option selected>Jakarta</option>
            </select> / Kota :
            <select>
                <option>Jakarta Utara</option>
                <option>Jakarta Selatan</option>
            </select> / Kecamatan :
            <select>
                <option>Kecamatan 1</option>
                <option>Kecamata 2</option>
            </select> / Kelurahan :
            <select>
                <option>Kelurahan 1</option>
                <option>Kelurahan 2</option>
            </select> / RW :
            <select>
                <option>RTW 1</option>
                <option selected>RW 2</option>
                <option>RW 3</option>
            </select> / RT :
            <select>
                <option>RT 001</option>
                <option>RT 002</option>
            </select>
        </p>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">Basic</div>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <caption>Optional table caption.</caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nama</th>
                        <th>Anggota</th>
                    </tr>
                </thead>
                <tbody id="dataContainer">
                    <tr><td></td><td>Loading Data..</td><td></td></tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block inlinejs  %}
    <script type="text/javascript">
        var penduduk = db.collection('penduduk');
        var province = '{{provinsi}}';
        var city ='{{kota}}';
        var district ='{{kecamatan}}';
        var subdistrict ='{{kelurahan}}';
        var rw ='{{rw}}';
        var rt ='{{rt}}';

        var dataContainer = $('#dataContainer');
        var counter = 1;
        var dataArray = [];
        var selectArray = [];
        var result = null;

        penduduk.where('provinsi','==',province).where('kota','==',city).where('kecamatan','==',district).where('kelurahan','==',subdistrict).where('rw','==',rw).where('rt','==',rt).get().then((querySnapshot)=>{
             dataContainer.html('');
             querySnapshot.forEach((doc)=>{
                 if(doc && doc.exists){
                    var data = doc.data();
                    var name = data.nama_lengkap;
                    var id = doc.id;
                    var members = penduduk.doc(id).collection('anggota');
                    members.get().then((query)=>{ 
                        var count = query.size;
                        addData(id,name,count);
                    });
                }
                 
             });

        });
        console.log(dataArray);
            

        function addData(id,name,count){
            dataContainer.append(
            '<tr>'+
                '<th  scope="row">'+counter+'</th>'+
                '<td><a href="/penduduk-detail/'+id+'">'+name+'</a></td>'+
                '<td>'+count+'</td>'+
            '</tr>'
            );
            counter++;
        }

        
    </script>
{% endblock %}